@import "variables";
@import "general";

/*
 *	MAIN CONTENT
 ------------------------------------------------------ */
.expenses-card {
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
}

.balance-card, .spending-card {
  border-radius: 0.5rem;
  padding: 1.5rem;
}

 // Balance card
.balance-card {
  background-color: $color-soft-red;
  color: $color-very-pale-orange;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  img {
    width: 4rem;
  }
}

.balance-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.95rem;
}

.balance-sum {
  font-weight: 700;
  font-size: 1.5rem;
}

// Spending card
.spending-card {
  background-color: white;
}

.spending-card-heading, .spending-sum, .spending-month-perc {
  color: $color-dark-brown;
  font-weight: 700;
}

.spending-card-heading {
  font-size: 1.6rem;
}

.spending-graph {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2.5rem 0 1.5rem;
  border-bottom: 2px solid $color-cream;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 11%;
    position: relative;
  }
}

.day {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 0.9rem;
}

.bar {
  background-color: $color-soft-red;
  border-radius: 0.2rem;
  width: 100%;

  &.bar:not(.today):hover {
    cursor: pointer;
    background-color: hsla(10, 79%, 65%, 0.5);
  }
}

.today {
  background-color: $color-cyan;

  &:hover {
    cursor: pointer;
    background-color: hsla(186, 34%, 60%, 0.5);
  }
}

.bar-amount {
  display: none;
  position: absolute;
  top: -2.25rem;
  background-color: $color-dark-brown;
  width: fit-content;
  padding: 0.4rem 0.3rem;
  border-radius: 0.2rem;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
}

.show {
  display: block;
}

// spending footer
.spending-footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.spending-month-total-text, .spending-month-perc {
  display: flex;
  flex-direction: column;
}

.spending-month-total-text {
  gap: 0.5rem;
}

.spending-month-total-text, .spending-last-month-text {
  font-size: 1rem;
}

.spending-sum {
  font-size: 2rem;
}

.spending-month-perc {
  text-align: right;
  justify-content: end;
}

.spending-last-month-text {
  color: $color-medium-brown;
  font-weight: 400;
}

// page footer
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}