/*
 *	VARIABLES
 ------------------------------------------------------ */
/* Colors */
/* Typography */
/*
 *	GENERAL
 ------------------------------------------------------ */
/* border-box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125em;
  font-family: "DM Sans", sans-serif;
  background-color: hsl(27deg, 66%, 92%);
  color: hsl(28deg, 10%, 53%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*
 *	MAIN CONTENT
 ------------------------------------------------------ */
.expenses-card {
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
}

.balance-card, .spending-card {
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.balance-card {
  background-color: hsl(10deg, 79%, 65%);
  color: hsl(33deg, 100%, 98%);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.balance-card img {
  width: 4rem;
}

.balance-text {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.95rem;
}

.balance-sum {
  font-weight: 700;
  font-size: 1.5rem;
}

.spending-card {
  background-color: white;
}

.spending-card-heading, .spending-sum, .spending-month-perc {
  color: hsl(25deg, 47%, 15%);
  font-weight: 700;
}

.spending-card-heading {
  font-size: 1.6rem;
}

.spending-graph {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2.5rem 0 1.5rem;
  border-bottom: 2px solid hsl(27deg, 66%, 92%);
}
.spending-graph li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 11%;
  position: relative;
}

.day {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 0.9rem;
}

.bar {
  background-color: hsl(10deg, 79%, 65%);
  border-radius: 0.2rem;
  width: 100%;
}
.bar.bar:not(.today):hover {
  cursor: pointer;
  background-color: hsla(10deg, 79%, 65%, 0.5);
}

.today {
  background-color: hsl(186deg, 34%, 60%);
}
.today:hover {
  cursor: pointer;
  background-color: hsla(186deg, 34%, 60%, 0.5);
}

.bar-amount {
  display: none;
  position: absolute;
  top: -2.25rem;
  background-color: hsl(25deg, 47%, 15%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4rem 0.3rem;
  border-radius: 0.2rem;
  text-align: center;
  color: white;
  font-size: 0.7rem;
  font-weight: 700;
}

.show {
  display: block;
}

.spending-footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.spending-month-total-text, .spending-month-perc {
  display: flex;
  flex-direction: column;
}

.spending-month-total-text {
  gap: 0.5rem;
}

.spending-month-total-text, .spending-last-month-text {
  font-size: 1rem;
}

.spending-sum {
  font-size: 2rem;
}

.spending-month-perc {
  text-align: right;
  justify-content: end;
}

.spending-last-month-text {
  color: hsl(28deg, 10%, 53%);
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=main.css.map */